<form action="/messages" method="POST" class="mdl-grid js-background-sync">
  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <input class="mdl-textfield__input" type="tel" name="phoneNumber" id="phoneNumber">
    <label class="mdl-textfield__label" for="phoneNumber">Number</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <textarea class="mdl-textfield__input" type="text" rows="2" id="body" name="body"></textarea>
    <label class="mdl-textfield__label" for="body">Message</label>
  </div>
  <div class="mdl-textfield mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect full-width">
      Send
    </button>
  </div>
</form>
